.description{
    width: 50%;
    color: white;
    border: 1px solid #555555;
    background-color: #303030;
    border-radius: 8px;
}

.bird-description{
    width: 100%;

}

@media screen and (max-width: 850px){
    .description{
        width: 100%;
    }
}
