.cap{
    margin: 2% 0;
    img{
        width: 18%;
    }
    span{
        font-size: 20px;
        color: white;
    }

}


.cap, .bird-types{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.bird-types{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 8px;
    background-color: #008966;

}


.buttons{
    width: 170px;
    font-size: 15px;
    color: white;
    background-color: #008966;
    border: none;
    padding: 1% 0;
    

 

}

.active{
    background-color: #00bc8c;
    border-radius: 8px;
}

